In [6]:
# Data Manipulation
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Profiling
import ydata_profiling as yp

# 1 Reading the data

In [17]:
df_micro = pd.read_stata('../stata/amostra_domicilios_2010_RJ.dta', convert_categoricals=False)

In [18]:
df_micro.info()
df_micro.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370244 entries, 0 to 370243
Data columns (total 76 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V0001   370244 non-null  int16
 1   V0002   370244 non-null  int32
 2   V0011   370244 non-null  float64
 3   V0300   370244 non-null  float64
 4   V0010   370244 non-null  float64
 5   V1001   370244 non-null  int8
 6   V1002   370244 non-null  int16
 7   V1003   370244 non-null  int32
 8   V1004   370244 non-null  int16
 9   V1006   370244 non-null  int8
 10  V4001   370244 non-null  int8
 11  V4002   370244 non-null  int8
 12  V0201   366376 non-null  float64
 13  V2011   67307 non-null   float64
 14  V2012   67307 non-null   float64
 15  V0202   366376 non-null  float64
 16  V0203   366376 non-null  float64
 17  V6203   366376 non-null  float64
 18  V0204   366376 non-null  float64
 19  V6204   366376 non-null  float64
 20  V0205   366376 non-null  float64
 21  V0206   2333 non-null    float64
 22  V0207   365722 non-null  float64
 23  V0208   366376 non-null  float64
 24  V0209   366376 non-null  float64
 25  V0210   366376 non-null  float64
 26  V0211   366376 non-null  float64
 27  V0212   361992 non-null  float64
 28  V0213   366376 non-null  float64
 29  V0214   366376 non-null  float64
 30  V0215   366376 non-null  float64
 31  V0216   366376 non-null  float64
 32  V0217   366376 non-null  float64
 33  V0218   366376 non-null  float64
 34  V0219   366376 non-null  float64
 35  V0220   168998 non-null  float64
 36  V0221   366376 non-null  float64
 37  V0222   366376 non-null  float64
 38  V0301   366806 non-null  float64
 39  V0401   370244 non-null  float64
 40  V0402   366806 non-null  float64
 41  V0701   366806 non-null  float64
 42  V6529   366806 non-null  float64
 43  V6530   366806 non-null  float64
 44  V6531   366806 non-null  float64
 45  V6532   366806 non-null  float64
 46  V6600   366806 non-null  float64
 47  V6210   366376 non-null  float64
 48  M0201   370244 non-null  int8
 49  M2011   370244 non-null  int8
 50  M0202   370244 non-null  int8
 51  M0203   370244 non-null  int8
 52  M0204   370244 non-null  int8
 53  M0205   370244 non-null  int8
 54  M0206   370244 non-null  int8
 55  M0207   370244 non-null  int8
 56  M0208   370244 non-null  int8
 57  M0209   370244 non-null  int8
 58  M0210   370244 non-null  int8
 59  M0211   370244 non-null  int8
 60  M0212   370244 non-null  int8
 61  M0213   370244 non-null  int8
 62  M0214   370244 non-null  int8
 63  M0215   370244 non-null  int8
 64  M0216   370244 non-null  int8
 65  M0217   370244 non-null  int8
 66  M0218   370244 non-null  int8
 67  M0219   370244 non-null  int8
 68  M0220   370244 non-null  int8
 69  M0221   370244 non-null  int8
 70  M0222   370244 non-null  int8
 71  M0301   370244 non-null  int8
 72  M0401   370244 non-null  int8
 73  M0402   370244 non-null  int8
 74  M0701   370244 non-null  int8
 75  V1005   370244 non-null  int8
dtypes: float64(39), int16(3), int32(2), int8(32)
memory usage: 129.2 MB

,V0001,V0002,V0011,V0300,V0010,V1001,V1002,V1003,V1004,V1006,...,M0218,M0219,M0220,M0221,M0222,M0301,M0401,M0402,M0701,V1005
0,33,3300100,3.300100e+12,12833.0,1.072009e+14,3,3305,33013,0,1,...,2,2,2,2,2,2,2,2,2,1
1,33,3300100,3.300100e+12,20358.0,1.901061e+14,3,3305,33013,0,2,...,2,2,2,2,2,2,2,2,2,4
2,33,3300100,3.300100e+12,27895.0,8.929838e+13,3,3305,33013,0,1,...,2,2,2,2,2,2,2,2,2,1
3,33,3300100,3.300100e+12,42944.0,1.405041e+14,3,3305,33013,0,1,...,2,2,2,2,2,2,2,2,2,1
4,33,3300100,3.300100e+12,52534.0,1.233563e+14,3,3305,33013,0,1,...,2,2,2,2,2,2,2,2,2,1

In [38]:
from pandas.io.stata import StataReader

# Read the file and the labels
with StataReader('../stata/amostra_domicilios_2010_RJ.dta') as reader:
    data = reader.read(convert_categoricals=False)
    value_labels = reader.value_labels()

# Remove '_lbl' from the keys in value_labels
value_labels = {k.replace('_lbl', ''): v for k, v in value_labels.items()}

# Apply the labels to the data
for col, labels in value_labels.items():
    if col in data:
        data[col] = data[col].map(labels)

In [39]:
data.head()

,V0001,V0002,V0011,V0300,V0010,V1001,V1002,V1003,V1004,V1006,...,M0218,M0219,M0220,M0221,M0222,M0301,M0401,M0402,M0701,V1005
0,Rio de Janeiro,Angra dos Reis,3.300100e+12,12833.0,1.072009e+14,Região sudeste (uf=31 a 33 e 35),Sul Fluminense,Baía da Ilha Grande,0,Urbana,...,Não,Não,Não,Não,Não,Não,Não,Não,Não,Área urbanizada
1,Rio de Janeiro,Angra dos Reis,3.300100e+12,20358.0,1.901061e+14,Região sudeste (uf=31 a 33 e 35),Sul Fluminense,Baía da Ilha Grande,0,Rural,...,Não,Não,Não,Não,Não,Não,Não,Não,Não,Área rural de extensão urbana
2,Rio de Janeiro,Angra dos Reis,3.300100e+12,27895.0,8.929838e+13,Região sudeste (uf=31 a 33 e 35),Sul Fluminense,Baía da Ilha Grande,0,Urbana,...,Não,Não,Não,Não,Não,Não,Não,Não,Não,Área urbanizada
3,Rio de Janeiro,Angra dos Reis,3.300100e+12,42944.0,1.405041e+14,Região sudeste (uf=31 a 33 e 35),Sul Fluminense,Baía da Ilha Grande,0,Urbana,...,Não,Não,Não,Não,Não,Não,Não,Não,Não,Área urbanizada
4,Rio de Janeiro,Angra dos Reis,3.300100e+12,52534.0,1.233563e+14,Região sudeste (uf=31 a 33 e 35),Sul Fluminense,Baía da Ilha Grande,0,Urbana,...,Não,Não,Não,Não,Não,Não,Não,Não,Não,Área urbanizada